<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv="Expires" content="-1">
<meta http-equiv='pragma' content='no-cache'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js?n=1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js?n=1"></script>
<script src="https://rawgit.com/arqex/react-json/master/build/Json.js?n=1"></script>
<script src="//cdn.jsdelivr.net/refluxjs/0.2.11/reflux.min.js?n=1"></script>
<body data-no-transition-cache>
  <div id="resultado"></div>
</body>
<script type="text/jsx">

 var Usuarios = React.createClass({
  getInitialState: function () {
      return {api_key: "", id_user: "", loading: false, errors: {}, data1: [],data:"", data4:[]}
    },
  componentDidMount: function() {
   
    var email = "" +  "<%= @mail %>" + ""
    $.ajax({
            url: 'https://sync.paybook.com/v1/users?api_key=115524a855da6cb8c36aaed6567ee65f',
            type: 'POST',
        data: {
              api_key: "115524a855da6cb8c36aaed6567ee65f",
              name: email 
             },
        success: function (returnval) {
                this.setState({data: returnval.response.id_user});
                this.sesion(this.state.data);
                console.log("Paso 1. Obtengo el id_user:" + this.state.data)
            }.bind(this)
       });
   },
  sesion: function(id_user) {
     var email = "" +  "<%= @mail %>" + ""
    $.ajax({
            url: '/api/v1/crear_sesion',
            type: 'POST',
            data: {
                id_user: id_user,
                name: email,
                user_id: <%= current_user.id %>
              },
        success: function() {
                console.log("Paso 2. Sesion creada satisfactoriamente")
                location.reload(true);
            }.bind(this)
       });
  },
  render: function() {
      var items =this.state.data
      return <div>
              Creando sesión espere...
             </div>
  }
 });

 React.render(<Usuarios />, document.getElementById('resultado'));
</script>